.contacto-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.contacto-img {
    position: absolute;
    inset: 0;
}
.contacto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.form-contacto h2 {
    color: var(--white);
    padding: 20px;
}
.form-contacto {
    position: relative;
    z-index: 2;
    max-width: 400px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.242);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.form-contacto input,
.form-contacto textarea {
    border: 2px solid var(--white);
    padding: 12px;
    border-radius: 6px;
    transition: 0.3s;
    width: 100%;
}
.form-contacto button{
    margin-top: 20px;
}

/* BOTON PARA SPINNER */
button .spinner {
    width: 27px;
    height: 27px;
    border: 3px solid #148d8d;
    border-top: 3px solid transparent;
    border-radius: 50%;
    display: none;
}
button:active .spinner {
    display: block;
    animation: spin 1s linear infinite;
}
button:active .texto {
    display: none;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* VALIDACION DE CAMPOS */
.form-contacto input:invalid:not(:placeholder-shown),
.form-contacto textarea:invalid:not(:placeholder-shown) {
    border-color: red;
}
.form-contacto input:valid:not(:placeholder-shown),
.form-contacto textarea:valid:not(:placeholder-shown) {
    border-color: green;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .contacto-container {
        grid-template-columns: 1fr;
        position: relative;
    }

    .form-contacto {
        border-radius: 20px;
        position: relative;
        margin: 20px;
    }

}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.modal:target {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}
.modal-contenido {
    background: var(--surface);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
    transform: scale(0.8);
    transition: 0.3s;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 15px; 
}

.modal:target .modal-contenido {
    transform: scale(1);
}

