body {
    background-color: #f6f8fc;
    font-family: 'Roboto', sans-serif;
    color: #202124;
}

header {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.avatar-circle {
    border: 2px solid #e8f0fe;
    border-radius: 50%;
    padding: 2px;
}

#header-progress {
    transition: width 0.5s ease-in-out;
}

.email-card {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #dadce0;
    transition: transform 0.3s ease;
}

.sender-avatar {
    width: 42px;
    height: 42px;
    background-color: #673ab7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 500;
}

.suspicious {
    color: #1a73e8;
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
    transition: all 0.2s ease;
    display: inline-block;
}

.btn-paypal {
    background-color: #0070ba;
    color: white;
    border-radius: 20px;
    padding: 10px 24px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.badge-urgent {
    background-color: #fce8e6;
    color: #d93025;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 4px;
}

#fake-status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #202124;
    color: #ededed;
    padding: 0px 5px;
    display: none;
    z-index: 9999;
    white-space: nowrap;
}

@media (max-width: 768px)  {
    .sender-avatar {
    width: 60px;
    height: 42px;
    background-color: #673ab7;
    color: white;
    border-radius: 50%;
    font-weight: 500;
    }
    .badge-urgent {
    display: none;
    }
}