.precios {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.precios h2 {
    text-align: center;
    font-size: 2.2rem;
}
/* TABLA DE PRECIOS */
.tabla-container {
    width: 100%;
    overflow-x: auto;
    max-width: 1500px;
    margin: 40px auto;
    padding: 0 20px;
}
.tabla-precios{
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    background: var(--surface);
}
.tabla-precios thead {
    background: var(--primary);
}
.tabla-precios th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    color: var(--bg-color);
}
.tabla-precios td {
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: var(--text-color);
    position: relative;
}

.tabla-precios tbody tr {
    transition: all 0.3s ease;
}

.tabla-precios tbody tr:hover {
    background: color-mix(in srgb, var(--accent) 45%, transparent);
    transform: scale(1.01);
}
/* TOOLTIP BASE */
.tabla-precios td[data-tooltip] {
    position: relative;
    cursor: help;
}

/* TEXTO TOOLTIP */
.tabla-precios td[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--accent);
    color: black;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 100;
}

.tabla-precios td[data-tooltip]:hover::after{
    opacity: 1;
    z-index: 100 !important;
}

@media (max-width: 768px) {
    .tabla-precios thead {
        display: none;
    }

    .tabla-precios,
    .tabla-precios tbody,
    .tabla-precios tr,
    .tabla-precios td {
        display: block;
        width: 100%;
    }

    .tabla-precios tr {
        margin-bottom: 20px;
        background: var(--surface);
        border-radius: 10px;
        padding: 10px;
    }

    .tabla-precios td {
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .tabla-precios td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        font-weight: bold;
        top: 50%;
        transform: translateY(-50%);
        color: var(--primary);
    }
    .tabla-precios td[data-tooltip]::after {
        bottom: auto;
        top: 110%;
        left: 10px;
        transform: none;
        white-space: normal;
        max-width: 200px;
    }

}