.table-responsive {
    border-radius: 12px;
    overflow: hidden;
}
.table caption {
    caption-side: top;
}

.tabla-precios th {
    color: white;
    background-color: var(--bs-primary);
}

.tabla-precios tbody tr:hover td {
    background-color: var(--accent);
    transition: all 0.3s ease;
    color: var(--bg-color);
}

.nav-link:focus-visible,
button:focus-visible,
input:focus-visible,
td:focus-visible,
logo:focus-visible {
    outline: 3px solid var(--accent);
    outline-offset: 4px;
}
.slider-nav label:focus-visible {
    outline: 3px solid var(--accent);
    outline-offset: 4px;
    border-radius: 50%;
}
