/* =========================================
    RESET BÁSICO
========================================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);

    transition: background-color 0.6s ease, color 0.6s ease;
}


/* =========================================
   PALETA PERSONAL
========================================= */

:root {
    --bg-color: #f5f7f8;
    --text-color: #032c40;

    --primary: #0f6f6f;
    --primary-hover: #0b5c5c;

    --accent: #c98a3a;

    --surface: #ffffff;
    --surface-alt: #eef3f5;

    --dark-footer: #021a26;

    --rating-star: #ffd166;
    --number: #8a5a1f;

     /* BOOTSTRAP */

    --bs-body-bg: var(--bg-color);
    --bs-body-color: var(--text-color);

    --bs-primary: var(--primary);
    --bs-primary-rgb: 15,111,111;

    --bs-border-color: #d9e3e7;
}

/* =========================================
    DARK MODE
========================================= */

[data-bs-theme="dark"] {

    --bg-color: #0b2230;
    --text-color: #f2f6f8;

    --primary: #1f7a73;
    --primary-hover: #8ae6d9;

    --accent: #e0a85a;

    --surface: #153a4a;
    --surface-alt: #1d4b5e;

    --rating-star: #ffd166;
    --number: #ffa639;

    /* BOOTSTRAP */

    --bs-body-bg: var(--bg-color);
    --bs-body-color: var(--text-color);

    --bs-primary: var(--primary);
    --bs-primary-rgb: 31,122,115;

    --bs-border-color: #295061;
}

/* =================== HERO ====================== */

.hero-content * {
    color: white !important;
}
#heroTitle{
    opacity: 0;
}
#typingText {
    min-height: 40px;
}

/* ==================== CARRUSEL ===================== */

.testimonios {
    background-color: var(--bg-color);
}
.testimonios h2 {
    color: var(--text-color);
    font-size: 2.5rem;
}
.testimonio-card {
    max-width: 800px;
    padding: 3rem 2rem;
    background-color: var(--surface);
    border-radius: 24px;
    border: 1px solid var(--bs-border-color);
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}
.testimonio-card p {
    font-size: 1.2rem;
    line-height: 1.8;
}
.testimonio-card i {
    color: var(--accent);
    margin-right: 8px;
}
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--accent);
}
.carousel-control-prev,
.carousel-control-next {
    filter: brightness(0);
}
[data-bs-theme="dark"]
.carousel-control-prev,
[data-bs-theme="dark"]
.carousel-control-next {
    filter: brightness(0) invert(1);
}

/* =================== NAVBAR ====================== */

/* NAVBAR */
.navbar {
    background-color: var(--surface) !important;
    border-bottom: 1px solid var(--bs-border-color);
    transition: all 0.4s ease;
}

/* LINKS NAV */
.nav-link {
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: var(--primary);
}

/* DROPDOWN */
.dropdown-menu {
    border: 1px solid var(--bs-border-color);
    border-radius: 12px;
}

/* ==================== CONTADOR ===================== */
.stats {
    background-color: var(--surface);
    padding: 6rem 1rem;
    font-size: 2rem;
}

.counter-box {
    max-width: 800px;
    margin: auto;
}

.stats-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.9;
}

.stats-title i {
    margin-right: 10px;
    color: var(--accent);
}

.stats p {
    font-size: 1.5rem;
    max-width: 700px;
    margin-inline: auto;
    opacity: 0.90;
}
.counter-numbers span {
    font-size: 6rem;
    font-weight: 800;
    color: var(--number);
    line-height: 80px;
    height: 80px;
}

/* ========================================= */
/* CARDS */
.card {
    border: 1px solid var(--bs-border-color);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-4px);
    box-shadow:
        0 10px 30px rgba(0,0,0,0.08);
}

/* BOTONES */
.btn-primary {
    background-color: var(--accent);
    border-color: var(--accent);
}
.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

/* FOOTER */
.footer-dark {
    background-color: var(--dark-footer);
}

/* SECCION HEADER */
.header {
    background-color: var(--surface);
    color: var(--text-color);
    top: 0;
}

.nav-link {
    /*text-decoration: none;
    font-size: 1rem;
    position: relative;*/
    color: var(--text-color);
    font-weight: 600;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: var(--primary-hover);
}
.navbar {
    background-color: var(--surface);
    padding: 15px 0;
}

/* SNAP SCROLL*/
html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}
.snap-section {
    min-height: 100vh;
    scroll-snap-align: start;
}

/* SECCION HERO */
.hero {
    position: relative;
    min-height: 92vh;
    color: var(--white);
    overflow: hidden;
    /*background: rgba(4, 22, 30, 0.85);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;*/
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(4, 22, 30, 0.647);
    z-index: 2;
}
.hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
/*.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    inset: 0;
}*/
.hero-content {
    position: relative;
    z-index: 3;
    /*max-width: 800px;
    display: flex;
    flex-direction: column;
    color: var(--white);*/
}
.hero-content h1 {    
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--text-color);
    /*background-color: none;
    color: var(--white);*/
}
.hero-content p {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 1px;
    max-width: 600px;
    margin: 10px auto;
    /*color: var(--white);*/
}

/* SECCION MAIN */
.destinos-content {
    background-color: var(--bg-color);
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px 60px;
}
.destinos-content h2 {
    padding: 40px 20px;
    color: var(--text-color);
    font-size: 2.5rem;
}
/*.destinos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 10px;
}*/
.destinos-card {
    position: relative;
    background-color: var(--surface);
    border-radius: 150px 150px 10px 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
    display: block;
    height: 500px;
}
.destinos-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0px 10px 20px var(--accent);
}
.card-image {
    position: relative;
    height: 500px;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.card-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}
.card-overlay {
    position: absolute;
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to top, rgba(3, 44, 64, 0.95) 0%, rgba(3, 44, 64, 0.7) 20%, rgba(3, 44, 64, 0.3) 60%, transparent 100%);
}
.card-content{
    position: relative;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--white);
}
.destinos-card h3 {
    font-size: 1.5rem;
}
.destinos-card p {
    font-size: 0.9rem;
}
.card-precio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    color: #dafdbd;
    font-weight: bold;
    font-size: 2rem;
}
.card-link {
    display: block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

/* BOTON PRINCIPAL */
.btn-primary {
    background-color: var(--accent);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.btn-primary:hover {
    filter: brightness(1.3);
}




/* SECCION FOOTER */
.footer {
    background-color: var(--dark-footer);
    color: white;
    padding: 60px 5%;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .nav-menu {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .destinos-content {
        padding: 20px;
    }
    .destinos-card {
        height: auto;
    }

    .card-image img {
        height: 250px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .counter-numbers span {
        font-size: 3rem;
    }

    .stat-container {
        height: 60px;
    }
    .slider-container {
        max-width: 100%;
        padding: 10px;
    }

    .testimonio-card {
        padding: 20px 10px;
    }

    .testimonios h2 {
        font-size: 1.8rem;
    }

    .testimonios h3 {
        font-size: 1.4rem;
    }
        .hamburger {
        display: block;
    }

    .nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--surface);
        box-shadow: 0 10px 20px rgba(0,0,0,0.15);
        z-index: 1000;
    }

    .menu-toggle:checked ~ .nav {
        display: block;
    }
}